.search_all{
    .search{
        width: 100%;
        height: .8rem;
        margin-top: .666667rem;
        .search_box{
            width: 8.133333rem;
            height: .813333rem;
            margin-left: .48rem;
            background: #F3F6F9;
            float: left;
            border-radius:.2rem;
            i.fas{
                display:inline-block;
                font-size:.4rem;
                color:#ccc;
                margin-top:.186667rem;
                padding-left:.333333rem;
            }
            input{
                font-size:.4rem;
                width: 6.533333rem;
                height: .64rem;
                border:0 none;
                padding-left:.306667rem;
                background: #F3F6F9;
            }
        }
        span{
            font-size:.346667rem;
            color:#E47596;
            line-height: .8rem;
            margin-left: .266667rem;
        }
    }
    .search_ho{
        width: 100%;
        padding-left: .266667rem;
        .search_ho_s{
            height: .48rem;
            font-size:.48rem;
            color:#656565;
            line-height: .4rem;
            margin-top: .4rem;
            i.fas{
                margin-right: .213333rem;
            }
        }
        ul{
            overflow: hidden;
            color:#5B5B5B;
            li{
                float: left;
                span{
                    display:block;
                    font-size:.293333rem;
                    text-align:center;
                    padding: .16rem .293333rem;
                    background: #EEF7F4;
                    margin-left: .48rem;
                    margin-top: .48rem;
                    border-radius:40%;
                }
                .his_span{
                    color:#656565;
                }
            }
            li:nth-child(1),li:nth-child(3),li:nth-child(5),li:nth-child(6),li:nth-child(8),li:nth-child(9){
                color:#FF76A4;
            }
        }
    }
    .popular_goods_show{
        width: 100%;
        overflow: hidden;
        li{
            width: 4.533333rem;
            margin-left: .306667rem;
            margin-top: .32rem;
            border:.013333rem solid #F9FAFC;
            float: left;
            img{
                display:inline-block;
                width: 4.533333rem;
                height: 6.933333rem;
                margin-bottom: .133333rem;
            }
            span{
                font-size:.373333rem;
                color:#838497;
                background: #F3F6F9;
            }
            .pri{
                width: 100%;
                height: .333333rem;
                font-size:.32rem;
                color:#3A3A3A;
                margin-top: .133333rem;
                .price{
                    width: 1.866667rem;
                    float: left;
                }
                .collection{
                    width: 1.333333rem;
                    float: right;
                    text-align:right;
                    i{
                        margin-left: .133333rem;
                    }
                }
            }
        }
    }
}