.main{
    position:relative;
    .search{
        width: 100%;
        height: .8rem;
        position:absolute;
        left:0;
        top:.706667rem;
        z-index:800;
        .search_box{
            width: 8.133333rem;
            height: .813333rem;
            margin-left: .48rem;
            background: #F3F6F9;
            border-radius:.2rem;
            float: left;
            i.fas{
                display:inline-block;
                font-size:.4rem;
                color:#ccc;
                margin-top:.186667rem;
                padding-left:.333333rem;
            }
            input{
                font-size:.4rem;
                width: 6.533333rem;
                height: .64rem;
                border:0 none;
                padding-left:.306667rem;
                background: #F3F6F9;
            }
        }
        i.fa-envelope{
            display:inline-block;
            font-size:.533333rem;
            color:#fff;
            margin-top:.106667rem;
            padding-left:.333333rem;
        }
    }
    .search_fixed{
        position:fixed;
        left:0;
        top:0;
        background: #fff;
        i.fa-envelope{
            color:#000;
        }
    }
    .module{
        width: 100%;
        height: 1.066667rem;
        background: #fff;
        font-size:.32rem;
        color:#DAD9DA;
        li{
            float: left;
            padding: .373333rem .4rem .373333rem .266667rem;
            i.fas{
                margin-right: .133333rem;
                color:#D0E8BE;
            }
            i.fa-database{
                color:#F6C3C9;
            }
            i.fa-baseball-ball{
                color:#F8E0CA;
            }
            i.fa-bookmark{
                color:#D0E0FC;
            }
        }
    }
    .geli{
        width: 100%;
        height: .133333rem;
        background: #F3F6F9;
    }
    .silde_box{
        width: 100%;
        height: 3.6rem;
        li{
            width: 2.48rem;
            float: left;
            text-align:center;
            font-size:.32rem;
            color:#333;
            img{
                display:block;
                width: 1.866667rem;
                height: 1.866667rem;
                margin:.64rem .32rem .373333rem;
            }
        }
    }
}